.detail-container {
  display: flex;
  flex-direction: column;
  width: 72.3%;
  height: fit-content;
  margin: 11px 8px 0 102px;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
}

.detail-container hr {
  width: 100%;
  opacity: 0.2;
  margin-top: -10px;
  margin-bottom: 20px;
}

.detail-title {
  font-size: 18px;
  margin-top: -8px;
  margin-left: -3px;
}

.detail-description {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 30px;
  font-style: oblique;
}

.detail-audio {
  width: 100%;
}