.podcast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 18px;
  justify-items: center;
  padding: 0px 10px;
}

.podcast-card {
  background: white;
  width: 200px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none !important;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin-top: 80px;
  text-decoration: none;
}

.podcast-card:hover {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.podcast-img-container {
  padding: 0px 5px;
}

.podcast-img {
  background: transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -50px;
}

.card-body {
  text-align: center;
  padding: 5px 10px 10px 10px;
}

.card-title {
  margin-top: -5px;
  color: black;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

.card-author {
  margin-top: -7px;
  font-size: 12px;
  font-weight: 500;
  color: #797979;
}