.searchbar-container {
  display: flex;
  justify-content: flex-end;
  margin: 16px auto 0px auto;
  padding: 0px 20px;
  align-items: center;
}

.searchbar-result {
  background: #0F7EAE;
  padding: 0px 5px;
  margin: 2px 10px 0px 0px;
  border-radius: 8px;
  color: whitesmoke;
  font-weight: 700;
}

.searchbar input {
  width: 250px;
  padding: 10px;
  border-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #DEDEDE;
}

.searchbar input:focus {
  outline: none;
}