.header-app {
  width: 100%;
  margin-top: 20px;
}

.header-app h1 {
  font-size: 20px;
  font-weight: 600;
}

.header-app hr {
  opacity: 0.2;
  margin-top: -10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-app {
  color: #0F7EAE;
  text-decoration: none;
}