.podcast-episodes {
  width: 75%;
  margin: -1px 8px 0 102px;
}

.podcast-episodes h1 {
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 6px 0 6px 12px;
  margin-bottom: 16px;
}

.table-episodes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
  font-size: 12px;
}

.table-header,
.episode-container {
  display: flex;
  justify-content: space-between;
}

.episode-container {
  padding: 5px 0;
}

.table-header-hr {
  opacity: 0.5 !important;
}

.table-episodes hr {
  opacity: 0.2;
  width: 100%;
  margin: 0px;
}

.table-episodes p {
  width: 11%;
  margin: 2px 0 2px 30px;
  font-weight: 500;
}

.episode-title.header,
.episode-column.header {
  font-weight: bold;
}

.episode-title {
  width: 100% !important;
  margin-left: 15px !important;
}

.episode-link {
  text-decoration: none;
  color: #0F7EAE;
}